body {
    margin: 0;
    padding: 0;
}

.outermost {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 6;
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.sidebar .logo img {
    height: 50%;
}

.sidebar li {
    font-size: 1.5rem;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 40px;
}

.user-info {
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}
